---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% elsif page.bg_url %}
  <header class="masthead" style="background-image: url('{{ page.bg_url }}')">
  {% else %}
  <header class="masthead" style="background-image: url('/img/posts/06.jpg')">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <!-- Home Post List -->
        
        {% assign posts = site.posts | where_exp: "post", "'DevBae' == post.author" %}
        {% for post in site.posts limit : 5 %}
          {% if post.tags contains 'home' %}
            <article class="post-preview">
              <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                <h2 class="post-title">{{ post.home_title }}</h2>
                {% if post.subtitle %}
                <h3 class="post-subtitle">{{ post.home_subtitle }}</h3>
                {% else %}
                <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
                {% endif %}
              </a>

              {% if page.author %}
              {% assign author = page.author %}
              {% else %}
              {% assign author = site.author %}
              {% endif %}
              
              <p class="post-meta">Posted by
                {% if page.author_url %}
                <a target="_blank" href="{{ page.author_url }}">{{ author }}</a>
                {% else %}
                {{ author }}
                {% endif %}
                on {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
              </p>
            </article>
            <hr>
            {% endif %}
        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>
