/*
   Social sharing
   ========================================================================== */

.page__share {
  margin-top: 0.5em;
  padding-top: 1em;
  border-top: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .page__share-title {
//   margin-bottom: 10px;
//   font-size: $type-size-6;
//   text-transform: uppercase;
// }